body{
    font-family: 'Grechen Fuemen', cursive;
    background-color: #0b0c10;
    color: #66FCF1;
    text-align: center;
}

.main-posts{
    background-color: white;
    padding: 60px;
    padding-top: 100px;
    height: 290%;
    width: 85%;
    margin-left: 78px;
}
.page-header{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 7em;
}
.posts{
    background-color: #1f2833;
    height: 27%;
    width: 80%;
    margin-left: 150px;
    margin-top: 100px;
}

img{
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-caption{
    font-size: 2em
}
.post-title{
    font-size: 8em;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#first-post{
    margin-top: 0px;
}

#second-post{
    height: 400px;
}